.Card {
  background-color: rgb(54, 210, 103);
  border: 1px solid #0f810d;
  width: fit-content;
  padding: 2rem;
  border-radius: 8px;
  justify-content: center;
  height: 150px;
  margin-top: 30px;
}

.form-group {
  display: flex;
  font-family: "Arial";
}
