  body {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: rgb(252, 238, 196);
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
  }
   .cards {
    border: 1px solid #b49b1b;
    width: 250px;
    padding: 30px 20px;
    text-align: center;
    background-color: #e6d584;
    border-radius: 8px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .kotak-img img {
    width: 100%;
  }
    
  .kotak-btn {
    background-color: #0b6e0b;
    margin-bottom: 40px;
    color: #ffffff;
    padding: 10px 50px;
    width: 100px;
    height: 40px;
    padding: 10px 15px;
    font-size: 15px;
    font-family: sans-serif;
  }

  .bot1 {
    background-color: #0b6e0b;
    color: #ffffff;
    padding: 10px 50px;
    width: 310px;
    height: 30px;
    padding: 10px 15px;
    font-size: 10px;
    font-family: 'Lucida Sans';
    margin-top: 10px;
  }
  
  .bot2 {
    background-color: #be3c25;
    color: #ffffff;
    padding: 10px 50px;
    width: 70px;
    height: 30px;
    padding: 10px 15px;
    font-size: 10px;
    font-family: 'Lucida Sans';
    margin-left: 240px;

    
  }

  .kotak-btn:hover {
    opacity: 0.8;
    background-color: #15b115;
  }
  
  .KontenLagu {
    width: 100%;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .konten {
    height: 380px;
  }
    